*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration:none;
	color: black;
}

h3{
	font-size: 32px;
	color: #000000;
}

h4{
	font-size: 20px;
	color: #000000;
}

p{
	font-size: 16px;
	color: #000000;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

header{
	height: 70px;
	width: 100%;
	background-color: #ec715f;
}

#head-line{
	height: 70px;
	width: 1024px;
	margin: 0 auto;
}

.header-logo{
	width: auto;
	height: 70px;
	float: left;
}

.nav-list{
	float:right;
}

.nav-list a{
	color:#fafafa;
}

.nav-list-item{
	font-size: 16px;
	list-style: none;
	display: inline-block;
	padding: 0 30px;
	line-height: 70px;
}

#nav-drawer{
	display: none;
}

#main-visual{
	height: 650px;
	width: 100%;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}

.main-visual-content{
	padding-top: 200px;
	text-align: center;
}

#main-visual h1{
	font-size: 64px;
	color: #fafafa;
	padding-bottom: 10px;
}

.main-visual-text{
	font-size: 20px;
	color: #fafafa;
}

main{
	width: 100%;
}

.h3-border{
	height: 8px;
	width: 70px;
	margin:0 auto;
	border-bottom: 3px solid #ec715f;
}

.first-message{
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}

#portfolio{
	background-color: #eceff1;
}

.portfolio-content{
	width: 920px;
	margin: 0 auto;
	padding: 90px 0;
	text-align: center;
}

.portfolio-image{
	background-size: cover;
	background-position: center;
	float: left;
	width: 300px;
	height: 250px;
}

.portfolio-image1{
	background-image: url(img/sketch.jpg);
	margin: 0 10px 10px 0;
}

.portfolio-image2{
	background-image: url(img/websuku.png);
	margin: 0 10px 10px 0;
}

.portfolio-image3{
	background-image: url(img/write.jpg);
	margin: 0 0 10px 0;
}

.portfolio-image4{
	background-image: url(img/webcamp.png);
	margin: 0 10px 0 0;
}

.portfolio-image5{
	background-image: url(img/talk.jpg);
	margin: 0 10px 0 0;
}

.portfolio-image6{
	background-image: url(img/webcamp-mother.png);
	margin: 0;
}

.feature-content{
	width: 980px;
	margin: 0 auto;
	text-align: center;
	padding: 90px 0;
}

.strength{
	width: 980px;
}

.strength-content{
	width: 320px;
	margin-right: 10px;
	float: left;
}

.strength-content:last-child{
	margin-right: 0;
}

.strength-icon{
	font-size: 60px;
	text-align: center;
}

.strength-content h4{
	text-align: center;
	padding: 10px 0;
}

.strength-content p{
	text-align: left;
}
#profile{
	background-color: #eceff1;
}

.profile-content{
	width: 1024px;
	margin: 0 auto;
	text-align: center;
	padding: 90px 0;
}

.myprofile-content{
	width: 1024px;
}

.myprofile-image-section{
	width: 512px;
	float: left;
}

.myprofile-image{
	width: 250px;
	height: 250px;
	background-image: url(img/my-icon.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin:0 auto;
}

.myprofile-section{
	width: 512px;
	float: left;
	text-align: left;
}

.myprofile-name{
	padding-bottom: 20px;
}

.myprofile-name h4{
	padding-bottom: 5px;
}

.myprofile-myskills h4{
	padding-bottom: 5px;
}

#contact{
	position: relative;
	width: 100%;
}

.contact-content{
	width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 90px 0;
}

.contact-information{
	width: 800px;
}

.contact-information h4{
	padding-bottom: 5px;
}

.contact-information-personal{
	width: 400px;
	float:left;
	text-align: center;
}

.personal-content{
	text-align: left;
	display: inline-block;
}

.personal-content a{
	font-size: 16px;
	color: #000000;
	border-bottom: 1px solid #000000;
}

.contact-mail{
	margin-bottom:20px;
}


.contact-information-sns{
	width: 400px;
	float: left;
}

.contact-icon-sns h4{
	text-align: left;
	margin-left: 95px;
}

.contact-icon{
	font-size: 50px;
}

.contact-icon i:nth-child(2){
	padding: 0 20px;
}

.top-page-icon{
	font-size: 16px;
	padding: 5px;
	color: #fafafa;
	background-color: #ff7f50;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

footer{
	width: 100%;
	height: 60px;
	background-color: #ec715f;
	text-align: center;
}

.footer-text{
	font-size: 16px;
	color: #fafafa;
	line-height: 60px;
}

@media screen and (max-width: 767px){
	header{
		height: 50px;
	}

	#head-line{
		width: 90%;
		height: 50px;
	}

	.header-logo{
		height: 50px;
	}

	.nav-list-item{
		display: none;
	}

	#nav-drawer {
		display: block;
	  position: relative;
	}

	/*チェックボックス等は非表示に*/
	.nav-unshown {
	  display:none;
	}

	/*アイコンのスペース*/
	#nav-open {
	  display: inline-block;
	  width: 30px;
	  height: 20px;
	  vertical-align: middle;
	  float: right;
	  margin: 15px 0;
	}

	/*ハンバーガーアイコンをCSSだけで表現*/
	#nav-open span, #nav-open span:before, #nav-open span:after {
	  position: absolute;
	  height: 3px;/*線の太さ*/
	  width: 25px;/*長さ*/
	  border-radius: 3px;
	  background: #555;
	  display: block;
	  content: '';
	  cursor: pointer;
	}

	#nav-open span:before {
	  bottom: -8px;
	}

	#nav-open span:after {
	  bottom: -16px;
	}

	/*閉じる用の薄黒カバー*/
	#nav-close {
	  display: none;
	  position: fixed;
	  z-index: 99;
	  top: 0;/*全体に広がるように*/
	  right: 0;
	  width: 100%;
	  height: 100%;
	  background: black;
	  opacity: 0;
	  transition: .3s ease-in-out;
	}

	/*中身*/
	#nav-content {
	  overflow: auto;
	  position: fixed;
	  top: 0;
	  right: 0;
	  z-index: 999;
	  width: 25%;
	  max-width: 250px;
	  height: 30%;
	  background: black;
	  transition: .3s ease-in-out;/*滑らかに表示*/
	  -webkit-transform: translateX(-10%);
	  transform: translateX(100%);/*右に隠しておく*/
	}

	#nav-input:checked ~ #nav-close {
	  display: block;
	  opacity: .5;
	}

	#nav-input:checked ~ #nav-content {
	  -webkit-transform: translateX(0%);
	  transform: translateX(0%);
	  box-shadow: 6px 0 25px rgba(0,0,0,.15);
	}

	.nav-content-list{
		margin: 10% auto;
		text-align: center;
	}

	.nav-content-list-item{
		padding-bottom: 20px;
	}

	.nav-content-list-item a{
		color:white;
		font-size: 15px;
	}

	#main-visual{
		background-image: url(img/code.png);
	}

	#main-visual h1{
		font-size: 40px;
	}

	.main-visual-text{
		font-size: 18px;
	}

	.portfolio-content{
		width: 90%;
	}

	.portfolio-image{
		float: none;
	}

	.portfolio-image1{
		display: none;
		background-image: url(img/sketch.jpg);
	}

	.portfolio-image2{
		background-image: url(img/websuku.png);
		margin: 0 auto;
	}

	.portfolio-image3{
		background-image: url(img/write.jpg);
		display:none;
	}

	.portfolio-image4{
		background-image: url(img/webcamp.png);
		margin: 10px auto;
	}

	.portfolio-image5{
		background-image: url(img/talk.jpg);
		display: none;
	}

	.portfolio-image6{
		background-image: url(img/webcamp-mother.png);
		margin: 0 auto;
	}

	.feature-content{
		width: 90%;
	}

	.strength{
		width: 90%;
		margin: 0 auto;
	}

	.strength-content{
		width: 320px;
		margin: 0 auto;
		padding-bottom: 30px;
		float: none;
	}

	.strength-content:last-child{
		margin: 0 auto;
		padding-bottom: 0;
	}

	.profile-content{
		width: 90%;
	}

	.myprofile-content{
		width: 90%;
		margin: 0 auto;
	}

	.myprofile-image-section{
		width: 90%;
		float: none;
		margin: 0 auto;
	}

	.myprofile-section{
		width: 90%;
		float: none;
		margin: 0 auto;
	}

	.myprofile-name h4{
		padding-top: 20px;
	}

	.myprofile-myskills h4{
		padding-top: 20px;
	}

	.contact-content{
		width: 90%;
	}

	.contact-information{
		width: 90%;
		margin: 0 auto;
	}

	.contact-information h4{
		padding-bottom: 5px;
	}

	.contact-information-personal{
		width: 90%;
		float:none;
		text-align: center;
		margin: 0 auto;
	}

	.personal-content{
		text-align: center;
	}

	.contact-mail{
		margin-bottom:20px;
	}

	.contact-tell{
		margin-bottom: 20px;
	}

	.contact-information-sns{
		width: 90%;
		float: none;
		margin:0 auto;
	}

	.contact-icon-sns h4{
		margin: 0 auto;
		text-align: center;
	}

	.top-page-icon{
		width: 20%;
	}

	footer{
		width: 100%;
		height: 60px;
		background-color: #ec715f;
		text-align: center;
	}

	.footer-text{
		font-size: 16px;
		color: #fafafa;
		line-height: 60px;
	}
}