*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration:none;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

header{
	height: 70px;
	width: 100%;
	background-color: #ec715f;
}

.head-line{
	height: 70px;
	width: 1024px;
	margin: 0 auto;
}

.header-logo{
	width: auto;
	height: 70px;
	float: left;
}

.nav-list{
	float:right;
}

.nav-list a{
	color:#fafafa;
}

.nav-list-item{
	font-size: 16px;
	list-style: none;
	display: inline-block;
	padding: 0 30px;
	line-height: 70px;
}

.main-visual{
	height: 650px;
	width: 100%;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}

.main-visual-content{
	padding-top: 200px;
	text-align: center;
}

.main-visual h1{
	font-size: 64px;
	color: #fafafa;
	padding-bottom: 10px;
}

.main-visual-text{
	font-size: 20px;
	color: #fafafa;
}

main{
	width: 100%;
}

#portfolio{
	height: 1000px;
	background-color: #eceff1;
}

#feature{
	height: 1000px;
	background-color: red;
}

#profile{
	height: 1000px;
	background-color: #eceff1;
}

#contact{
	height: 1000px;
	background-color: blue;
}

footer{
	width: 100%;
	height: 60px;
	background-color: #ec715f;
	text-align: center;
}

.footer-text{
	font-size: 16px;
	color: #fafafa;
	line-height: 60px;
}